<!DOCTYPE HTML>
<html>

<head>
    <%- include ("./partials/header.ejs") %>
        <%- include ("./partials/nav.ejs") %>

            <link rel="icon" type="image/jpg" href="https://media.discordapp.net/attachments/506425178822279168/507496898823847936/dbr.png">
            <title>404 </title>
</head>

<body>
    </div>
    <noscript>
        <div class="alert alert-danger" role="alert">
          This website requires Javascript to work. Please enable Javascript or use a browser that supports Javascript.
        </div>
    </noscript>
    <div class="container">
        <h1>
            <center>404 Not Found</center>
        </h1>
        <center>If you think something should be here, please contact us.</center>
        <center><a href="/" class="btn btn-primary">Home Page</a> <a href="javascript:window.history.back()" class="btn btn-primary">Go back</a></center>
</body>

</html>