<html prefix="og: http://ogp.me/ns#">

<head>
    <%- include ("./partials/header.ejs") %>
        <%- include ("./partials/nav.ejs") %>
            <style>
                .alert {
                    padding: 20px;
                    background-color: #f44336;
                    /* Red */
                    color: white;
                    margin-bottom: 15px;
                }
                /* The close button */
                
                .closebtn {
                    margin-left: 15px;
                    color: white;
                    font-weight: bold;
                    float: right;
                    font-size: 22px;
                    line-height: 20px;
                    cursor: pointer;
                    transition: 0.3s;
                }
                /* When moving the mouse over the close button */
                
                .closebtn:hover {
                    color: black;
                }
            </style>
            <link rel="icon" type="image/jpg" href="">
            <title>title</title>
</head>

<body>
    <noscript>
            <div class="alert alert-danger" role="alert">
                This website requires Javascript to work. Please enable Javascript or use a browser that supports Javascript.
            </div>

  </noscript>
    <!-- Placeholder content -->
    <br><br>

    <div class="container">
        <div class="alert">

            <center><b><u>Website Changes:</u></b><br>
                <font color="purple"><b>something</b></font><br> something.<br> - Tazhys
            </center>
        </div>

</body>

</html>