<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="display:inline-block;width:100%">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <div id="navmain" class="navbar-nav">
                <a class="nav-item nav-link" href="#">bonk</a>
                <div class="dropdown">
                    <button style="background-color: #212121; border: none;" class="nav-item nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  FAQs/API/Cert
  </button>
                    <div class="dropdown-menu" style="background-color:#2f2f2f;width:15rem;" aria-labelledby="dropdownMenuButton">

                        <div class="trashpekt">
                            <a style="color:white;" href="/faq">
                                <li class="fa fa-comments">&nbsp;</li> FAQs</a>
                        </div>
                        <div class="trashpekt">
                            <a style="color:white;" href="/api/docs">
                                <li class="fa fa-file">&nbsp;</li> API</a>
                        </div>
                        <div class="trashpekt">
                            <a style="color:white;" href="/certification">
                                <li class="fa fa-certificate">&nbsp;</li> Certification</a>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="trashpekt">
                            <a style="color:white;" href="/commentrules">
                                <li class="fa fa-list-ol">&nbsp;</li> Comment Rules</a>
                        </div>
                        <div class="trashpekt">
                            <a style="color:white;" href="/badges">
                                <li class="fa fa-star">&nbsp;</li> Badges</a>
                        </div>
                        <div class="trashpekt">
                            <a style="color:white;" href="/requirements">
                                <li class="fa fa-check-circle">&nbsp;</li> Bot Requirements</a>
                        </div>
                    </div>
                </div>
                <a class="nav-item nav-link" href="https://discord.gg/">Discord Server</a>
            </div>

        </div>
</nav>